<%%= link_to 'New <%= klass %>', new_<%= resource_path %>, class: 'button info pull-right new-item' %>

<h2><%%= current_resource %></h2>

<table class="admin-table">
  <thead>
    <tr> <% attribute_names.each do |attribute| %>
      <th class="sorting">
        <%%= admin_link(:by_<%= attribute %>, "<%= attribute %>") %>
      </th><% end %>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= resource %>.each do |obj| %>
      <tr> <% attribute_names.each do |attribute| %>
        <td>
          <%%= obj.<%= attribute%> \%>
        </td><% end %>
        <td>
          <%%= link_to 'Edit', edit_<%= resource_path %>(obj), class: 'button info controll' %>
          <%%= button_to 'Delete', <%= resource_path %>(obj), method: :delete, class: 'button alert controll', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>
