<table class="admin-table">
  <thead>
    <tr> 
      <th>
        <%= admin_link(:by_id, "id") %>
      </th> 
      <th>
        <%= admin_link(:by_name, "name") %>
      </th> 
      <th>
        <%= admin_link(:by_price, "price") %>
      </th> 
      <th>
        <%= admin_link(:by_description, "description") %>
      </th> 
      <th>
        <%= admin_link(:by_created_at, "created_at") %>
      </th> 
      <th>
        <%= admin_link(:by_updated_at, "updated_at") %>
      </th> 
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |obj| %>
      <tr> 
        <td>
          <%= obj.id %>
        </td> 
        <td>
          <%= obj.name %>
        </td> 
        <td>
          <%= obj.price %>
        </td> 
        <td>
          <%= obj.description %>
        </td> 
        <td>
          <%= obj.created_at %>
        </td> 
        <td>
          <%= obj.updated_at %>
        </td> 
        <td>
          <%= link_to 'Edit', edit_admin_item_path(obj) %>
          <%= button_to 'Delete', admin_item_path(obj), method: :delete, class: 'button alert', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
