<div id="filtering">
  <%= admin_form :method => :get do %>
    Name: <%= admin_text_filter :having_name %>
    <br>
    Price from <%= text_field_tag("filters[price_between][from]", admin_filter(:price_between, :from)) %>
    and <%= text_field_tag("filters[price_between][to]", admin_filter(:price_between, :to)) %>

    <button>Filter!</button>
  <% end %>
</div>

<table>
  <thead>
    <th>
      <%= admin_link(:by_name, "Name") %>
      <%= admin_link(:by_price, "Total price") %>
    </th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
